
// timers
$short-frame: .3s;
$normal-frame: .5s;
$long-frame: 1s;

.Spinner {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.8);
  opacity: 0;
  animation: appear $short-frame forwards;
  margin-top: 0 auto;

  &:after, &:before {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  &.spin-a:after {
    position: absolute;
    top: -4px;
    left: -4px;
    border: 4px solid transparent;
    border-top-color: #fff;
    border-bottom-color: #fff;
    animation: spin $long-frame cubic-bezier(.42,.13,.34,.84) infinite;
  }

}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(20deg) scale(1.15);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes appear {
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
