.back-btn {
  margin-top: 25px;
  a {
    text-decoration: none;
    &:visited {
      text-decoration: none;
    }
  }
  .container {
    display: flex;
    justify-content: center;
    
    button {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-family: 'Roboto';
      font-size: 16px;
      background: transparent;
      color: #5db98f;
      cursor: pointer;
      text-transform: uppercase;
      width: auto;
      padding: 10px;
      border: none;

      i {
        border: solid #5db98f;
        border-width: 0 1.2px 1.2px 0;
        padding: 3px;
        margin-right: 3px;
      } 
    
      .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    
    }
  }
}