.calculator-navigation {
  margin: 20px 0;
  .element {
    width: 80px;
    height: 4px;
    display: inline-block;
    background: #59595b;
    margin: 16px 8px 0 8px; 
  }
  .active {
    background: #5db98f;
  }
}

@media only screen and (max-width: 432px) {
  .calculator-navigation {
    .element {
      width: 40px;
    }
  }
}
